.app-main-container {
    display: flex;
    justify-content: space-between;
    margin: 8px auto 0px;
    padding: 0px 32px;
    max-width: 1280px;
    
}

.main-left {
    margin-top: 32px;
    width: 296px;
}

.profile-img-container {
    position: relative;
}

.user-status-border {
    position: absolute;
    bottom: 18px;
    right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: white;
    cursor: pointer;
}

.img-border {
    border: 2px solid #eee;
    border-radius: 50%;
    width: 100%;
    height: 296px;
    overflow: hidden;
}

.img-border img {
    width: 100%;
}

.profile-names-container {
    padding: 16px 0px;
}

.profile-user-name {
    font-size: 24px;
    font-weight: 700;
}

.profile-user-username {
    font-size: 20px;
    font-weight: 300;
    color: #555;
}

.edit-profile-buttons {
    margin-bottom: 16px;
}

.follow-container {
    margin-bottom: 16px;
}

.follow-link {
    color: #888;
    text-decoration: none;
}

.follow-link,
.follow-font-b {
    font-weight: 300;
}

.follow-font-b {
    font-weight: 500;
    color: #333;
}

.follow-container a:hover,
.follow-container a:hover * {
    color: #0969da;
}

.company-and-address-items {
    position: relative;
    padding: 4px 0px 0px 24px;
}

.company-and-address-items i {
    position: absolute;
    bottom: 0;
    left: 0;
}

.company-items-name {
    font-weight: 500;
    cursor: pointer;
}

.company-items-name:hover {
    text-decoration: underline;
}

.profile-etc-container {
    margin-top: 16px;
    border-top: 1px solid #dbdbdb;
    padding-top: 16px;
}

.profile-etc-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
}

.achievements-items {
    display: flex;
    flex-wrap: wrap;
}

.achievements-img {
    border: 2px solid white;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    overflow: hidden;
}

.achievements-img img {
    width: 100%;
}

.achievements-bottom {
    margin-top: 8px;
}

.achievements-beta {
    display: inline-block;
    border: 1px solid #1a7f37;
    border-radius: 14px;
    padding: 1.428px 8px;
    color: #1a7f37;
    font-weight: 300;
}

.send-feedback-link {
    text-decoration: none;
    font-weight: 300;
    color: #0969da
}

.send-feedback-link:hover {
    text-decoration: underline;
}

.organizations-items {
    display: flex;
    flex-wrap: wrap;
}

.organizations-img {
    margin-right: 3px;
    margin-bottom: 3px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    width: 34px;
    height: 34px;
    background-color: #efefef;
}